

Demo/.idea
Demo/.vs/*
Demo/Bundles/*
Demo/BundlesCache/*
Demo/Export/*
Demo/HybridCLRData/*
Demo/Library/*
Demo/Logs/*
Demo/obj/*
Demo/Temp/*
Demo/UserSettings/*
Demo/iOS/*
Demo/Android/*
Demo/MemoryCaptures/*



*.vsconfig
*.csproj
*.user
*.csproj
*.sln
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.vsconfig
.DS_Store



